.etape{
    background-color: rgba(0, 255, 0, .5);
    color: black;
    p{
        font-size:0.6rem;
        padding: 0.8rem;
    }
    ul{
        padding: 0.8rem;
        font-size: 0.8rem;
        list-style: none;
    }
}